<div class="col-md-12">
  <h1>Activities for Program {{ programId }}</h1>
  <table class="table" *ngFor="let activity of activityList">
    <thead>
      <tr>
        <th colspan="2">
          <h6>[Activity {{activity.id}}] : {{ activity.name }}</h6>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <strong>Description:</strong> Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. ati qui incidunt suscipit. Totam ratione
          expedita dicta, corporis vero harum tempore?
          <strong
            >Government Involvement:</strong
            > Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Delectus, beatae ea libero quaerat, sunt illum
            quod aperiam sequi nihil nemo sit architecto. Provident illo,
            debitis nam magnam eius nulla quos?
        </td>
        <td>
          <strong>Community Involvement:</strong> Lorem ipsum, dolor sit amet consectetur
          adipisicing elit. Obcaecati, quas! Eum adipisci, at soluta rerum animi
          quis asperiores obcaecati qui incidunt suscipit. Totam ratione
          expedita dicta, corporis vero harum tempore?
          <strong>Issues:</strong> Lorem ipsum dolor, sit amet consectetur
            adipisicing elit. Delectus,  quos?
        </td>

      </tr>
    </tbody>
  </table>
</div>
