<div class="row">
  <div *ngFor="let program of programsList" class="col-md-6">
    <div class="card program">
      <div class="card-header">
        <h5 class="program-header">
          Program {{ program.id }}: {{ program.name }}
        </h5>
        Created: {{ program.create_date | date: mediumDate }}
      </div>
      <div class="card-body">
        <p class="card-text">
          {{ program.description }}
        </p>
      </div>
      <div class="card-footer mt-2">
        Status: {{ program.status }}
        <a
          class="btn-info btn-sm program-btn"
          role="button"
          routerLink="/activities/{{program.id}}"
          >view Activies</a
        >
      </div>
    </div>
  </div>
</div>
